<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623016507591-8cl8ce3ptrcmj7i9jm5d4aidgpld0pin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623016507591-8cl8ce3ptrcmj7i9jm5d4aidgpld0pin</string>
	<key>API_KEY</key>
	<string>AIzaSyCdodO5hd5UHa24GeBH2AWeLUEUxqqJnAc</string>
	<key>GCM_SENDER_ID</key>
	<string>623016507591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homeservice.hometest</string>
	<key>PROJECT_ID</key>
	<string>homeservice-dev-6f163</string>
	<key>STORAGE_BUCKET</key>
	<string>homeservice-dev-6f163.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623016507591:ios:65201eb81038b225bce6e2</string>
</dict>
</plist>